# Ignore autosafe/backup/temporary files 
*.hh~
*.cc~
Makefile~
Makefile.bak
# Ignore executable 
minibones.exe
minibones
# Ignore objects
*.o
makeenv
minisat/core/depend.mk
minisat/core/*.a
*.d
*.gcda
*.gcno
*.gcov
*.stackdump
gmon.out
# Ignore generated
githeaddef
defs.h
CoreBased.cc
CoreBased.hh
